/* 6th Portion Start */
._abpr6img {
  height: 100px;
  width: 100px;
}

._abpr6a {
  color: #4a4a4a;
  text-decoration: none;
  height: 280px !important;
  transition: box-shadow 0.4s ease-in-out;
}

._abpr6a:hover {
  color: #4a4a4a;
  box-shadow: 10px 10px 30px 10px #c5c4c4 !important;
}
/* 6th Portion End */

/* 8th Portion Start */
._abpr8txt {
  color: white !important;
}

._abpr8btn {
  background-color: #007bff;
  color: white;
}

._abpr8btn:hover {
  background-color: #007bff;
  color: white;
}
/* 8th Portion End */
