/* 10th Portion Start */
._dbrpr10i3 {
  height: 170px;
}
/* 10th Portion End */

/* 11th Portion Start */
._dbrpr11c1 {
  transition: box-shadow 0.4s ease-in-out;
}

._dbrpr11c1:hover {
  box-shadow: 10px 10px 30px 10px #c5c4c4 !important;
}
/* 11th Portion Start */
