/* 7th Portion Start */
._elpr7crd1 {
  margin-left: 15px !important;
  width: 710px !important;
  height: 450px !important;
}

._elpr7cimg1 {
  width: 460px;
}

._elpr7crd2 {
  width: 350px !important;
  height: 450px !important;
}

._elpr7cimg2 {
  width: 200px;
}

._elpr7crd3 {
  height: 400px !important;
}

._elpr7cimg3 {
  width: 200px;
  height: 175px;
}
/* 7th Portion End */

/* 8th Portion Start */
._elpr8btn1 {
  width: 194px !important;
}

._elpr8btn2 {
  width: 370px !important;
}
/* 8th Portion End */
