/* 4th Portion Start */
._filespr4c2 {
  position: relative !important;
}

._filespr4bg {
  width: 100% !important;
  position: absolute;
}

._filestxt {
  color: white !important;
}

._filespr4i {
  width: 100%;
}
/* 4th Portion End */

._filespr5 {
  position: relative;
}
