._logmodl {
  width: 450px !important;
  border: transparent !important;
  margin-top: 35px;
  box-shadow: 0px 0px 3px 3px rgb(179, 178, 178);
}

._logcont {
  width: 100% !important;
  background-color: #ddd !important;
  z-index: 3 !important;
  position: absolute !important;
  top: 0 !important;
  display: flex !important;
  justify-content: center;
}

._logwid {
  width: 350px !important;
  padding-left: 16px;
  padding-right: 16px;
}

/* ._block {
  display: funse !important;
} */

._logat {
  text-decoration: none !important;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}

._logsg {
  color: black !important;
  font-weight: 750;
  padding-left: 61px;
  padding-right: 61px;
  padding-top: 10px;
  padding-bottom: 10px;
}

._logat:hover ._logsg {
  background-color: #0080ff;
  color: white !important;
}

._loggog {
  margin-left: 10px;
  margin-right: 10px;
}

._logat:hover {
  border: 1px solid #0080ff !important;
}

._logltxt:after,
._logltxt:before {
  content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  text-decoration: line-through;
  text-decoration-color: #ddd !important;
}

.back {
  background-color: #ddd !important;
  border-radius: 50%;
  padding: 7px 3px;
  color: rgb(99, 97, 97);
}
