/* 1st Portion Start */
._rcpr1bg {
  background-color: #ebf5ff;
  height: 300px !important;
}

._rcpr1img {
  width: 50%;
}
/* 1st Portion End */

/* 2nd Portion Start */
._3Hx0N {
  border: 1px solid #001c80;
}

.j_hIc {
  width: 140px !important;
}

._1qJrR {
  background-color: #ebf5ff !important;
  font-weight: 600;
}

.svg-inline--fa {
  width: 20px;
}

._31jc9 {
  text-align: center;
}

.Ueqh6 {
  padding-top: 8px !important;
  justify-content: center !important;
  align-items: center !important;
}

._2dl6K {
  text-align: center;
  background-color: #001c80 !important;
  color: white !important;
}

._1wMzd {
  border-bottom: transparent !important;
  border-top: transparent !important;
}

.uALyE {
  text-align: center;
}

._rctbtn {
  background-color: #007bff;
  color: white;
}

._rctbtn:hover {
  background-color: #007bff;
  color: white;
}

.BpP4x {
  font-weight: 400 !important;
  font-size: small !important;
}

._rcwc {
  color: white !important;
}

._dsp {
  display: flex !important;
  padding: 10px !important;
  background-color: #001c80 !important;
  justify-content: space-around !important;
}
/* 2nd Portion End */

._rcpr3bg {
  background-color: #ebf5ff;
}

._rcpr3txt {
  font-weight: 750 !important;
}

._rcpr3ch {
  height: 230px;
}
