._signcont {
  position: absolute !important;
  top: 0 !important;
  background-color: var(--bs-body-bg);
  z-index: 3 !important;
  display: block !important;
}

._siwtxt {
  color: white !important;
}

._sicon {
  margin-right: 7px !important;
}

._signhed {
  margin-bottom: 0 !important;
}

._sicont2wid {
  width: 360px !important;
  margin-left: 60px !important;
}

._sicont1wid {
  width: 322px !important;
  margin-top: 180px !important;
  margin-left: 140px !important;
}
