/* 1st Portion Start */
._tpr1c {
  width: 600px;
  margin-right: 0px;
}
._tpr1img {
  width: 400px;
}
/* 1st Portion End */

/* 2nd Portion Start */
._tpr2txt {
  color: white !important;
}

._tpr2v {
  width: 550px;
  height: 300px;
}
/* 2nd Portion End */
